.wrapper {
  margin-top: 50px;
  padding: 60px 24px 60px 24px;
  border-radius: 4px;
  color: white;
  position: relative;
}

.card .card-content {
  margin: 0;
  padding: 0;
}
.quotes {
  text-align: center;
  font-weight: 600;
  margin-top: 2rem !important;
}

.author {
  text-align: end;
  margin-top: 16px !important;
}

i.far.fa-clone:hover {
  color: #0d0606;
  transition: all .4s ease-in-out;
}

.copiedData{
  opacity: 0;
  width: 0px;
  height: 0px;
}

.next {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.copyBtn {
  position: absolute;
  right: 26px;
  top: 22px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 0 !important;
  }
  
