.wrapper {
  margin-top: 50px;
  padding: 60px 24px 60px 24px;
  border-radius: 4px;
  color: white;
}

.card .card-content {
  margin: 0;
  padding: 0;
}
.quotes {
  text-align: center;
  font-weight: 600;
}

.author {
  text-align: end;
  margin-top: 16px !important;
}

.next {
  display: block;
  margin: auto;
  margin-top: 20px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 0 !important;
  }
  