.wrapper {
  margin-top: 50px;
  padding: 60px 24px 60px 24px;
  border-radius: 4px;
  color: white;
  position: relative;
}

div.main_title {
  text-align: center;
  margin: 4rem 0;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 100;
  text-transform: capitalize;
  text-shadow: 2px 2px 6px #f1ff00;
}
.main_title span {
  display: block;
}

.text_wrapper {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid white;
}

span.Byauthor{
  text-align: right;
}

.card .card-content {
  margin: 0;
  padding: 0;
}
.quotes {
  text-align: center;
  font-weight: 600;
  margin-top: 2rem !important;
}

.author {
  text-align: end;
  margin-top: 16px !important;
}

i.far.fa-clone:hover {
  color: #0d0606;
  transition: all 0.4s ease-in-out;
}

.copiedData {
  opacity: 0;
  pointer-events: none;
}

.next {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.copyBtn {
  position: absolute;
  right: 26px;
  top: 22px;
}

.All_btn_wrapper {
  text-align: center;
  margin-top: 20px;
}

.sizing_btn {
  display: inline-block;
  margin-top: 0;
}

.preve {
  pointer-events: none;
  opacity: 0;
  width: 0;
  padding: 0;
  margin-right: 12px;
}

.clickedPreve{
  pointer-events: auto;
  opacity: 1;
  width: auto;
  padding: 0 16px;
}

ul.getList li {
  pointer-events: none;
  width: 0;
  height: 0;
  opacity: 0;
}

p.version {
  position: absolute;
  top: 10px;
  color: #c4c4c4;
  text-transform: capitalize;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 0 !important;
}
